*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  
}
.loading_bg{
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  background-color: #fff;
  
}


.loading {
  --red: #d62d20;
  --blue: #0057e7;
  --green: #008744;
  --yellow: #ffa700;
  position: relative;
  width: 80px;
  margin: auto;
  padding: 20px;
  top: 15em;
  overflow-y: hidden;
}

.loading:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate73451 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash0175 1.5s ease-in-out infinite, color7123 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate73451 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash0175 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color7123 {
  100%, 0% {
    stroke: var(--red);
  }

  40% {
    stroke: var(--blue);
  }

  66% {
    stroke: var(--green);
  }

  80%, 90% {
    stroke: var(--yellow);
  }
}


@media(max-width: 600px){


  
  .judul{
    display: flex;
    margin-left: 6px;
    justify-content: space-between;
  }
  
  .judul .icon-1{
    display: flex;
    margin-right: 12px;
    font-size: 18px;
    
  }

  .rekomendasi{
    width: 100%;
    display: flex;
    margin: 10px;
    overflow: scroll;
    background-color: #eaeaea;
    margin-left: 0;
  }
  
  .rekomendasi::-webkit-scrollbar{
    width: 0px;
  }
  .rekomendasi .card{
    margin-right: 5px;
    margin-top: 12px;
    min-width: 120px;
    height: 215px;
    border: none;
    line-height: 110px;
    background-color: #eaeaea;
  }
  .card img{
    width: 118px;
    height: 200px;
    margin-left: 2px;
    border-radius: 10px;
  }
  
  .card img:hover{
    transform: scale(0.9);
    transition: 0.5s;
  }
  
  .on-going{
    margin-left: 0;
  }
  
  
  .on-going .judul-1{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 7px;
  }
  
  .on-going .judul-1 .icon{
    display: flex;
    margin-right: 12px;
    font-size: 18px;
  }
  
  .new{
    display: flex;
    width: 100%;
    margin: 10px;
    margin-left: 0;
    overflow: scroll;
    background-color: #eaeaea;
  }
  .new::-webkit-scrollbar{
    width: 0px;
  }
  
  .new .card-1{
    margin-right: 5px;
    margin-top: 12px;
    min-width: 120px;
    height: 215px;
    border: none;
    line-height: 110px;
    background-color: #eaeaea;
  }
  .card-1 img{
    width: 118px;
    height: 200px;
    margin-left: 2px;
    border-radius: 10px;
  }
  .card-1 img:hover{
    transform: scale(0.9);
    transition: 0.5s;
  }
  
  /*Bottom-Nav*/
   .navigation{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 72px;
    background: #eaeaea;
    border-radius: 15px 15px 0 0;
  }
  
  .navigation ul{
    position: fixed;
    display: flex;
  }
  
  .navigation ul li{
    width: 70px;
    height: 70px;
    list-style: none;
    position: relative;
    z-index: 1;
    margin-right: 15px;
  }
  
  .navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-weight: bold;
  }
  
  .navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    text-align: center;
    align-items: center;
    margin-right: 15px;
    font-size: 1.5em;
    color: black;
  }
  
  .navigation ul li a .icon:hover{
    position: relative;
    display: block;
    line-height: 75px;
    text-align: center;
    align-items: center;
    margin-right: 15px;
    font-size: 1.5em;
    color: #fff;
    transition: .3s;
    transform: scale(1) ;
  }


 
  
}
